.section-inner {
  width: 1160px;
  margin: 0 auto;
}

.site-header {
  background-color: #333;
  text-align: center;
}

.site-footer {
  background-color: #ddd;
  min-height: 200px;
}

body.no-game {

}

body.active-game {

}

body.one-player {

}

body.two-player {

}

body.player-one-turn {

}

body.player-two-turn {

}

body.computer-turn {

}

body.thinking {

}