.section-inner {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.site-header {
  background-color: #129D83;
  text-align: center;
  padding: 2em 0;
}

.site-footer {
  background-color: #055042;
  min-height: 400px;
}

body.no-game {

}

body.active-game {

}

body.one-player {

}

body.two-player {

}

body.player-one-turn {

}

body.player-two-turn {

}

body.computer-turn {

}

body.thinking {

}